x-database-env: &database-env
  MONGO_URI: mongodb://mongodb:27017
  MONGO_DATABASE: better-mem
  QDRANT_HOST: qdrant
  QDRANT_PORT: 6334
  QDRANT_DEFAULT_VECTOR_SIZE: 384
  QDRANT_DEFAULT_COLLECTION_NAME: better-mem-default
  REDIS_ADDRESS: redis:6379
  INFERENCE_ADDRESS: inference:50051

x-memory-management-env: &memory-management-env
  MEMORY_MANAGEMENT_MANAGE_SHORT_TERM_MEMORY_TASK_PERIOD: "@every 30s"
  MEMORY_MANAGEMENT_MEMORY_SIMILARITY_THRESHOLD: 0.9
  MEMORY_MANAGEMENT_MAX_SIMULTANEOUS_TASKS: 10
  MEMORY_MANAGEMENT_SHORT_TERM_MEMORY_AGE_LIMIT: 168
  MEMORY_MANAGEMENT_SHORT_TERM_MEMORY_MINIMAL_RELEVANCY_FOR_PROMOTION: 10
  MEMORY_MANAGEMENT_SHORT_TERM_MEMORY_MINIMAL_RELEVANCY_FOR_DISCARD: 5
  MEMORY_MANAGEMENT_SHORT_TERM_MEMORY_LONG_TERM_THRESHOLD: 0.5

x-external-llm-env: &external-llm-env
  LLM_BASE_URL: http://host.docker.internal:11434
  LLM_MODEL: "qwen2.5:7b"

x-worker-env: &worker-env
  WORKER_MAX_RETRY: 5
  WORKER_TIMEOUT: 60
  WORKER_CONCURRENCY: 20

services:
  api:
    build:
      dockerfile: ./cmd/api/Dockerfile
    ports:
      - "5042:5042"
    depends_on:
      - mongodb
      - qdrant
      - redis
    environment:
      <<: *database-env
    restart: unless-stopped

  worker:
    build:
      dockerfile: ./cmd/worker/Dockerfile
    depends_on:
      - mongodb
      - qdrant
      - redis
    environment:
      <<: [*database-env, *worker-env, *memory-management-env, *external-llm-env]
    restart: unless-stopped

  inference:
    build:
      context: ./inference
    ports:
      - "50051:50051"
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6334:6334"
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  redis:
    image: redis
    ports:
      - 6379:6379
    depends_on:
      - redisinsight

  redisinsight:
    image: redislabs/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - ./redis/redisinsight/db:/db

  locust:
    image: locustio/locust:latest
    ports:
      - "8089:8089"  # Locust web UI
    volumes:
      - ./locustfile.py:/mnt/locust/locustfile.py
      - ./reports:/mnt/locust/reports
    environment:
      - LOCUST_HOST=http://host.docker.internal:5042
    command: >
      -f /mnt/locust/locustfile.py
      --host=http://host.docker.internal:5042
      --web-host=0.0.0.0
      --web-port=8089
    profiles:
      - load-test  # Inicia apenas com: docker-compose --profile load-test up
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  mongodb_data:
  qdrant_data:
  rabbitmq_data:
